<!DOCTYPE html>
<html>
<head></head>
<body bgcolor="white" font-color="red">
 
<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<center><tr>
   <td><h1>Registration Form For Employees</h1></td>
</tr><center>
 
<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<tr>
    <td align='center'>First Name:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Last Name:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>National id:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Birth Date:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Start Date:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Email:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Contact:</td>
    <td><input type='text' name='zip'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Department:</td>
    <td><select> <option>select the department</option>></select> </td>
</tr>
<tr> <td>&nbsp;</td> </tr>
 <td align='center'>Division:</td>
    <td><select> <option>select the division</option>></select> </td>
</tr>
<tr> <td>&nbsp;</td> </tr>
 <td align='center'>Position:</td>
    <td><select> <option>select the position</option>></select> </td>
</tr>
<tr> <td>&nbsp;</td> </tr>
 <td align='center'>Level:</td>
    <td><select> <option>select the level</option>></select> </td>
</tr>
<tr> <td>&nbsp;</td> </tr>
 <td align='center'>Room:</td>
    <td><select> <option>select the room</option>></select> </td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<table border='0' cellpadding='0' cellspacing='0' width='480px' align='center'>
<tr>
    <td align='center'><input type='submit' name='REGISTER' value="register"></td>
</tr>
</table>
</table>
 
</table>
</body>
</html>